/* Task.css */

/* .task-actions {
  display: flex;
  gap: 0;
} */

.action-button {
  gap: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;/* Corrected padding value */
  padding-right:1px;
  padding-inline-start: 0px;
  margin-right: 20px;
}

.action-button:hover {
  color: #988989;
}

.delete-button {
  margin-top : 5px;
  background-color: #ff5555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: font-size 0.2s ease; 
}

.delete-button:hover{
  font-size: medium;
}

.delete-button i {
  color: #fff;
}

.task-header {
  font-weight: bold;
}

.btn{
  padding: 10px 2px;
  cursor: pointer;
  margin-left: 0px;
}

.task {
  width: 700px;
  min-height: 50px; 
  margin: 10px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 10% 35% 25% 10% 20%; /* Adjust column widths */
  align-items: center; /* Vertically center content */
}

.task-info {
  margin-bottom: 8px;
   overflow: hidden;
  text-overflow: ellipsis;
}

.taskLink{
  margin-right:5px;
  color: black;
  font-weight: bolder;
  text-decoration: none;

}

.name {
   flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Truncate long text with ellipsis */
  margin-left: 70px;
}

.task-info.name {
  flex: 1;
}

.task-info.team-member, .task-info.name {
  white-space: nowrap; /* Prevent text from wrapping */
  max-width: 150px; /* Adjust maximum width as needed */
}